body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
}

ul{
    margin: 0;
    display: flex;
    gap: 20px;
}   

li{
    list-style: none;
}
.header{
    background-color: #2b384b;
    display: flex;
    flex-direction: column;
}

nav.container, .container-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
}

nav.container{

}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.description{
    max-width: 500px;
}

.description-img{
    height: 300px;
    width: 600px;
    object-fit: cover;
}

.main{
    background-color: orange;
    height: 500px;
    flex: 1;
}

footer{
    background-color: #2b384b;
    height: 50px;
}
